#Signin-box-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: #741B1B;
}

#signin-title{
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

#signin-title h1 {
    font-family: "Jersey 25", monospace;
    font-size: 4rem;
    color: white;
    margin: 0;
}

#Signin-box{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    box-sizing: border-box;
}

#text-boxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.user_details{
    height: 60px;
    width: 100%;
    margin-top: 30px;
    background-color:#151515;
    border: 2px solid #151515 ;
    border-radius: 12px;
    padding: 0 16px;
    font-family: "Jersey 25", monospace;
    font-size: 1.5rem;
    color: white;
    box-sizing: border-box;
}

.user_details::placeholder {
    color: var(--text-primary,white);
}

#signin-enter-button-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

#signin-enter-button{
    height: 50px;
    width: 60%;
    background-color: var(--accent);
    color: white;
    border: none;
    border-radius: 12px;
    font-family: "Jersey 25", monospace;
    font-size: 2rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #151515;
}

#create-account-section{
    width: 70%;
    height: 30%;
    display: flex;
    flex-direction: column;
    background-color: #151515;
    border: 2px solid #151515;
    padding: 16px;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-sizing: border-box;
}

#first-time{
    font-family: "Jersey 25", monospace;
    font-size: 2.5rem;
    text-align: center;
    color: white;
    margin: 0 0 30px 0;
}

#create-account-button{
    height: 50px;
    width: 180px;
    background-color: var(--accent);
    color: white;
    border: none;
    border-radius: 12px;
    font-family: "Jersey 25", monospace;
    font-size: 1.8rem;
    cursor: pointer;
    text-transform: uppercase;
}

.signup-link {
    text-decoration: none;
    color: inherit;
    display: block;
}
